<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />
    <meta name="description" content="Arknights Toolbox, all servers are supported. 明日方舟工具箱，全服支持。目前功能包括：公开招募计算、精英材料计算、刷图规划、干员升级计算、基建技能筛选。" />
    <meta name="keywords" content="明日方舟,明日方舟工具箱,方舟工具箱,arknights,arknights toolbox,公招,公开招募,公开招募计算器,公招计算器,公开招募计算,材料计算,升级计算,基建技能,刷图规划" />
    <meta name="author" content="神代綺凜" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>明日方舟工具箱 | Arknights Toolbox - arknights.work</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160818706-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-160818706-1');
</script>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6253645d3663ed63d023762ee8d116f8";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
      </script>
    <link href="https://cdn.jsdelivr.net/npm/mdui@0.4.3/dist/css/mdui.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.cnpmjs.org/css2?family=Roboto+Mono" rel="stylesheet" crossorigin="anonymous" />
  </head>
  <body class="mdui-appbar-with-tab mdui-theme-accent-pink">
    <noscript>
      <strong>Please enable javascript.</strong>
    </noscript>
    <div id="app"></div>
    <footer id="footer" class="mdui-text-center no-sl" style="display: none;">
      <div class="mdui-typo">Crafted with ❤️ by <a href="https://arknights.work" target="_blank">Arknights.work</a></div>
      <div class="mdui-text-color-theme-divider" style="font-size: 12px; margin: -2px 0 2px 0;">Build0824@55e17203</div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/mdui@0.4.3/dist/js/mdui.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3.4.3/dist/vue-router.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-i18n@8.21.0/dist/vue-i18n.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@johmun/vue-tags-input@2.1.0/dist/vue-tags-input.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-lazyload@1.3.3/vue-lazyload.min.js" crossorigin="anonymous"></script>
  </body>
</html>
